
.electrode-login-switch {
  z-index: 9999;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  .text {
    padding: 5px 7px;
    margin-top: 2px;
    margin-left: 6px;
    font-size: 300%;
    font-family: @basefont;
    transform: rotate(-45deg);
  }
  .icon {
    font-size: 200%;
    margin-top: 15px;
    margin-left: 10px;
  }
  .back.primaryAndHover() !important;
}
