
#electrode-previous_page {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

  // make it a triangle:
  // thanks http://bennettfeely.com/clippy/ :)
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);

  .back.primaryAndHover();
};
