
@import "uify/styles/index";
@import "dialogify/styles/index";

.electrode-users-page {
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  background-size: cover;
  background-position: center;

  .background_credits {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //                                                  USERS PAGE
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

  .users-list-container {

    //
    //                              LIST

    position: relative;
    margin: 0 10vw;
    height: 100vh;
    overflow: auto;
    padding: 1em;
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;

    .title {
      font-size: 250%;
      .front.primary();
    }
    .subtitle {
      float: right;
      font-size: 80%;
      .front.baseAndHover();
    }
    .error, .none {
      font-size: 200%;
      text-align: center;
    }
    .error { color: red; }
    .none { color: magenta; }
    .note {
      color: red;
      position: absolute;
      bottom: 1em;
      width: 100%;
      text-align: center;
      left: 0;
    }

    //
    //                              USER

    .users-list {

      overflow: auto;
      height: 85%;

      .user {

        padding: 1em;
        position: relative;
        display: flex;
        align-items: center;

        .icon {
          flex: 0;
          font-size: 200%;
          padding: 10px;
          margin-right: 10px;
          .front.baseAndHover();
        }
        .content {
          flex: 3;
          .name {
            .front.baseAndHover();
            font-size: 150%;
            display: block;
          }
          .roles:hover { color: @hover; }
        }
        .button, .uify-button {
          flex: 0;
          margin: 0.5em;
          padding: 0.5em;
          border-radius: 50%;
          min-width: auto;
          .back.primaryAndHover();
        }
      }

    }

    //                              ¬
    //

  }

  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
  //\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
}

// MAKE SURE TOAST MESSAGES ARE IN FRONT OF OVERLAY
.alertify-notifier {
  z-index: 99999;
}
